/*Header*/
@media all and (max-width: 1200px)
{
    header img
    {
    padding: 0 !important;
    }
    header 
    {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: -35px;
    }
    header img 
    {
    margin-left: 60px;
    }
    nav 
    {
    flex-basis: 100%;
    order: 2;
    display: flex;
    }
    nav li 
    {
    width: 100px;
    border-top: none;
    text-align: center;
    }
    nav ul li 
    {
    width: 50%;
    text-align: center;
    padding: 16px 0;
    border-bottom: 3px solid #f2f2f2;
    }
    nav ul li:hover 
    {
    border-bottom: solid 3px #0065fc;
    }
    nav ul li a:hover 
    {
    border-top: hidden;
    }
    nav li a 
    {
    margin-right: 130px;
    padding-left: 50px;
    }
    nav p a 
    {
    margin-right: 130px;
    }
    header nav 
    {
    position: relative;
    }
    header nav p 
    {
    position: absolute;
    top: -65px;
    right: -100px;
    }
    .headertitle 
    {
    order: 3;
    margin: 20px 100px 0 ;
    }
    .headertitle h2 
    {
      font-size: 20px;
    }
    .headertitle p
    {
    font-size: 14px;
    }
}

/*Search & Filters*/
@media all and (max-width: 1200px)
{
    .search-filter
    {
    margin: 5px 5px 5px 5px;
    }
    .search-bar 
    {
    margin: 5px 40px 0 40px;
    }  
    .city 
    {
    width: auto;
    }
    .btnsearch 
    {
    display: block;
    width: 51px;
    height: 51px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0065fc;
    color: white;
    }
    .btnsearch span
    {
    visibility: hidden;
    }
    .btnsearch .fa-search
    {
    visibility: visible;
    padding-bottom: 15px;
    color: white;
    }
    .btnsearch .fa-search:hover 
    {
    color: #0065fc;
    background-color: #deebff;
    border: 1px solid #0065fc;
    }

    .filter 
    {
    padding: 0 10px 0 20px;
    }
    .filter button 
    {
    margin: 0 10px 12px 0;
    font-size: 0.9rem;
    }
    .filter h3 {
    flex-basis: 100%;
    }
}

/*section lodging*/
@media all and (max-width: 1200px)
{
    small 
    {
    margin: 0 20px;
    }
    .containerresults 
    {
    flex-direction: column-reverse;
    max-height: none;
    }
    .popular 
    {
    width: auto;
    margin: 0;
    border-radius: 0;
    }
    .popular h2 
    {
    padding-bottom: 26px;
    }  
    .popular .containercard 
    {
    margin: 0 20px;
    }
    .popular .cardlink 
    {
    margin: 5px 0;
    }
    .resultscontainer 
    {
    background: none;
    }
    .resultscontainer h2 
    {
    padding: 0;
    margin-left: 20px;
    }
    .more 
    {
    padding: 0;
    margin-left: 20px;
    }
    .imgmain 
    {
    width: 326px;
    height: 114px;
    }
    .resultscontainer .cardlink 
    {
    margin: 6px 0;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px)
{
    .popular 
    {
    align-items: center;
    }
    .cardpopular 
    {
    width: 316px;
    }
    .popular .cardlink 
    {
    margin: 5px;
    }
}
@media all and (min-width: 768px) and (max-width: 1200px)
{
    .popular 
    {
    align-items: flex-start;
    }
    .popular .containercard 
    {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    }
    .popular .cardlink 
    {
    margin: 5px 10px;
    }
    .popular h2 
    {
    margin-left: 10px;
    }
     .popular .fa-chart-line 
     {
    margin-left: 20px;
    }
    .resultscontainer 
    {
    align-self: center;
    }
    .resultscontainer .containercard 
    {
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    }
}

@media all and (min-width: 320px) and (max-width: 375px) 
{
    .cardpopular 
    {
    width: 306px;
    }
    .popular .fa-chart-line 
    {
    margin-left: 100px;
    }
    .imgmain 
    {
    width: 306px;
    }
}
 /* section activities*/
 @media all and (max-width: 1200px)
 {
     .activities h2 
     {
     padding-left: 20px;
     }
     .contentActivities 
     {
     flex-direction: row;
     justify-content: space-evenly;
     height: auto;
     }
     .card-activity h4 
     {
     padding: 16.5px 22px;
     }
     .pic-activity 
     {
     width: 334px;
     height: 134px !important;
     }
     .activity-link 
     {
     margin: 12px 0;
     }
 }
 
 @media all and (min-width: 1024px) and (max-width: 1200px)
 {
     .pic-activity 
     {
     width: 324px;
     }
 }
 
 @media all and (min-width: 768px) and (max-width: 1200px)
 {
     .contentActivities 
     {
     justify-content: space-between;
     margin-left: 10px;
     margin-right: 10px;
     }
 }
 
 @media all and (min-width: 320px) and (max-width: 375px) 
 {
     .pic-activity 
     {
     width: 318px;
     }
 }

/*Footer*/
@media all and (max-width: 1200px)
{
    .footercontent 
    {
    flex-direction: column;
    }
    footer h3 
    {
    padding: 46px 0 9px 0;
    }
    .footercontent div 
    {
    margin-right: 0;
    margin-left: 20px;
    padding-bottom: 0;
    } 
}
@media all and (min-width: 768px) and (max-width: 1200px)
{
    .footercontent 
    {
    flex-direction: row;
    justify-content: space-evenly;
    }
}