/*Header*/
@media screen and (max-width: 768px)
{
    header img
    {
        padding: 0 !important;
    }
    header 
    {
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    header img 
    {
        margin-left: 40px;
    }
    nav 
    {
        flex-basis: 100%;
        order: 2;
        display: flex;
    }
    nav li 
    {
        width: 80px;
        border-top: none;
        text-align: center;
    }
    nav ul li 
    {
        width: 48%;
        text-align: center;
        padding: 16px 0;
        border-bottom: 3px solid #f2f2f2;
    }
    nav ul .li-lod a, nav ul .li-act a
    {
        text-align: center;
        justify-content: space-between;
    }
    nav ul .li-lod a
    {
        padding-right: 80px;
        padding-left: 20px;
    }
    nav ul .li-act a
    {
        padding-right: 40px;
    }
    nav ul li:hover 
    {
        border-bottom: solid 3px #0065fc;
    }
    nav ul li a:hover 
    {
        border-top: hidden;
    }
    nav li a 
    {
        margin-right: 30px;
        padding-left: 50px;
    }
    header nav 
    {
        position: relative;
    }
    header nav p 
    {
        position: absolute;
        top: -60px;
        
    }
    .headertitle 
    {
        order: 3;
        margin: 20px 0 0 ;
        text-align: center;
    }
    .headertitle h2 
    {
        font-size: 20px;
    }
    .headertitle p
    {
        font-size: 14px;
        margin: 10px 50px 10px ;
    }
}
@media (min-width: 375px) and (max-width: 767px) 
{
    .headertitle h2
    {
        margin: 20px 50px 0;
    }
}
@media all and (max-width: 1024px)
{
    .search-filter
    {
        margin: 5px 5px 5px 5px;
    }
    .search-bar 
    {
        margin:0;
    }  
    .city 
    {
        width: 190px;
    }
    .btnsearch 
    {
        display: block;
        width: 51px;
        height: 51px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #0065fc;
        color: white;
    }
    .btnsearch span
    {
        display: none;
    }
    .btnsearch .fa-search
    {
        display: block;
        color: white;
    }
    .btnsearch .fa-search:hover 
    {
        color: #0065fc;
        background-color: #deebff;
        border: 1px solid #0065fc;
    }
    .filter 
    {
        padding: 0 10px 0 20px;
    }
    .filter button 
    {
        margin: 0 10px 12px 0;
        font-size: 0.9rem;
    }
    .filter h3 
    {
        flex-basis: 100%;
    }
}

@media all and (min-width: 375px) and (max-width: 767px) 
{
    .filter
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/*section lodging*/
@media all and (max-width: 1200px)
{
    small 
    {
        margin: 0 20px;
    }
    .containerresults 
    {
        flex-direction: column-reverse;
        max-height: none;
    }
    .popular 
    {
        width: auto;
        margin: 0;
        border-radius: 0;
    }
    .popular h2 
    {
        padding-bottom: 26px;
    }  
    .popular .containercard 
    {
        margin: 0 20px;
    }
    .popular .cardlink 
    {
        margin: 5px 0;
    }
    .resultscontainer 
    {
        background: none;
    }
    .resultscontainer h2 
    {
        padding: 0;
        margin-left: 20px;
    }
    .more 
    {
        padding: 0;
        margin-left: 20px;
    }
    .imgmain 
    {
        width: 326px;
        height: 114px;
    }
    .resultscontainer .cardlink 
    {
        margin: 6px 0;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px)
{
    .popular 
    {
        align-items: center;
    }
    .cardpopular 
    {
        width: 316px;
    }
    .popular .cardlink 
    {
        margin: 5px;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px)
{
    .popular 
    {
        align-items: flex-start;
    }
    .popular .containercard 
    {
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
    }
    .popular .cardlink 
    {
        margin: 5px 10px;
    }
    .popular h2 
    {
        margin-left: 10px;
    }
    .popular .fa-chart-line 
    {
        margin-left: 20px;
    }
    .resultscontainer 
    {
        align-self: center;
    }
    .resultscontainer .containercard 
    {
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) 
{
    .popular
    {
        /* padding: 40px 20px; */
        width: auto;
        margin: 0;
    }
    .resultscontainer
    {
        margin: 0;
        padding-left: 12px;
    }
    .cardpopular 
    {
        width: 306px;
    }
    .popular .fa-chart-line 
    {
        margin-left: 100px;
    }
    .imgmain 
    {
        width: 306px;
    }
}

 /* section activities*/
@media all and (max-width: 1200px)
{
    .activities h2 
    {
        padding-left: 20px;
    }
    .contentActivities 
    {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }
    .card-activity h4 
    {
        padding: 16.5px 22px;
    }
    .pic-activity 
    {
        width: 334px;
        height: 134px !important;
    }
    .activity-link 
    {
        margin: 12px 0;
    }
}
 
@media all and (min-width: 1024px) and (max-width: 1200px)
{
    .pic-activity 
    {
        width: 324px;
    }
}
 
@media all and (min-width: 768px) and (max-width: 1200px)
{
    .contentActivities 
    {
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
}
 
@media all and (min-width: 320px) and (max-width: 767px) 
{
    .contentActivities
    {
        padding-left: 20px;
    }
    .pic-activity 
    {
        width: 318px;
    }
}

/*Footer*/
@media all and (max-width: 1024px)
{
    .footercontent 
    {
        flex-direction: column;
    }
    footer h3 
    {
        padding: 46px 0 9px 0;
    }
    .footercontent div 
    {
        margin-right: 0;
        margin-left: 20px;
        padding-bottom: 0;
    } 
}
@media all and (min-width: 768px)
{
    .footercontent 
    {
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (max-width: 767px) 
{
    footer
    {
        padding: 15px;
    }
}
